* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  padding: 1% 17% 1% 17%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header #headerLogo {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header #headerMain {
  width: 70%;
}

.header #headerMain > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.header #headerMain > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header #headerLogoText {
  padding-left: 0.5em;
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.header .headerMainInfoText {
  padding-left: 0.5em;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}

.header #headerMainMenu {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
}

.headerPic {
  background-image: url("../img/saintP.png");
  background-position: center;
  background-size: cover;
  height: 62vh;
}

.services {
  padding: 5% 17% 5% 17%;
  background-color: #EBEBEB;
}

.services #servicesTextInfo {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}

.services #servicesTextMain {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.services #servicesPlate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .servicesPlateItem {
  width: 230px;
  height: 230px;
  background-image: url("../img/plateServices.png");
  background-position: center;
  background-size: cover;
  margin: 1em 0;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 150px 0 0 20px;
}

.services .servicesPlateItem:hover {
  background-image: url("../img/plateServicesActive.png");
}

.aboutUs {
  padding: 5% 17% 5% 17%;
}

.aboutUs .aboutUsMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutUs .aboutUsMainInfo {
  width: 50%;
}

.aboutUs .aboutUsMainPlate {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutUs .aboutUsMainPlateItem {
  width: 180px;
  height: 180px;
  background-color: #EBEBEB;
  margin: 1em 0;
}

.aboutUs .aboutUsMainPlateItem:hover {
  background-color: #005FA3;
}

.aboutUs .aboutUsMainPlateItem:hover .aboutUsMainPlateItemNum, .aboutUs .aboutUsMainPlateItem:hover .aboutUsMainPlateItemText, .aboutUs .aboutUsMainPlateItem:hover .aboutUsMainPlateItemLnk a {
  color: white;
}

.aboutUs .aboutUsInfo {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}

.aboutUs .aboutUsMainInfo {
  width: 350px;
}

.aboutUs .aboutUsMainInfoCompany, .aboutUs .aboutUsMainInfoName {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.aboutUs .aboutUsMainInfoName {
  color: #005FA3;
}

.aboutUs .aboutUsMainInfoText {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding: 20px 0 0 0;
}

.aboutUs .aboutUsMainPlateItem {
  padding: 10px;
}

.aboutUs .aboutUsMainPlateItemNum {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
  font-size: 40px;
}

.aboutUs .aboutUsMainPlateItemText {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.aboutUs .aboutUsMainPlateItemLnk {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0 0 0;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
